.cards-container {
    margin: 6rem 4rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Mejor centrado para la galería */
    gap: 24px;
    /* Un poco más de separación */
    max-width: 1200px;
    /* Limitar ancho máximo */
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}