.fondo__contenedor2 {
    font-size: 300%;
    font-family: Limelight;
    color: #fff;
}

.fondo__titulo {
    text-wrap: balance;
}

.fondo__subtitulo {
    margin: 25px 0 0 0;
    font-size: 0.4em;
}